.home-page {
  padding: 0 50px;
}

.home-page .buttons {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
}

.home-page .ant-btn {
  margin-right: 33px;
}

.echarts-for-react  {
  width: 80%;
  margin: 20px auto;
}